// Mixins in here

.bubble(@radius, @bgColor, @fontColor){
    border-radius: @radius;
    background-color: @bgColor;
    color: @fontColor;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.mobileWidth(){
    @media @mobile {
        width: 100%;
      }
}

.shadowOnHover(@color, @length){
    &:hover{
        text-shadow: @length @length @color;
        transition: text-shadow 0.3s ease-in-out;
    }
}